@import url('buttons.css');
@import url('popup.css');

/* GLOBAL */
	#minic > div{
		
	}
	#minic a,
	#minic input,
	#minic select,
	#minic textarea,
	#minic span,
	#minic label{
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}
	/* Labels */
	#minic label{
		float: none;
		width: auto;
		text-align: left;
		padding: 0;
	}
	#minic label i{
		margin-right: 5px;
	}
	#minic label i:hover{
		cursor: pointer;
	}
	/* Inputs */
	#minic input[type="submit"]{
		-webkit-box-sizing: content-box;
		-moz-box-sizing: content-box;
		-ms-box-sizing: content-box;
		box-sizing: content-box;
	}
	#minic input[type="submit"]:hover{
		cursor: pointer;
	}
	#minic input[type="text"],
	#minic select,
	#minic input[type="file"],
	#minic textarea{
		margin: 0;
		padding: 5px;
		outline: none !important;
		border: 1px solid #c7c7c7;
		-webkit-border-radius: 3px;
		border-radius: 3px;
	}
	#minic input[type="text"]:hover,
	#minic select:hover,
	#minic input[type="file"]:hover,
	#minic textarea:hover{
		border: 1px solid #a8a8a8;
	}
	#minic input:focus,
	#minic select:focus,
	/*#minic input[type="file"]:focus*/
	#minic textarea:focus{
		-webkit-box-shadow:  0px 0px 5px 1px rgba(0, 0, 0, 0.22);
	    box-shadow:  0px 0px 5px 1px rgba(0, 0, 0, 0.22);
	    font-style: normal;
	}
	/* Messages */
		#minic .message{
			position: relative;
			padding-left: 50px !important;
			padding-right: 50px !important;
		}
		#minic .message span.close{
			position: absolute;
			right: 10px;
			top: 10px;
			font-size: 18px;
		}
		#minic .message span.close:hover{
			cursor: pointer;
		}
		#minic .message p{
			margin: 0;
		}
		/* Errors */
		#minic .error span.close{
			color: #521216;
		}
		/* Conf */
/* HEADER */
	#minic .header > div{
		margin-bottom: 15px;
	}
	/* Menu Top */
	#menu-top{
		display: inline-block;
		width: 100%;
	}
	#menu-top a{
		float: right;
		color: #525252;
		font-size: 12px;
		font-weight: bold;
		padding: 0 10px;
		border-right: 1px solid #525252;
	}
	#menu-top a:first-child{
		border: 0;
		padding-right: 0;
	}
		/* Social */
		#menu-top .social{
			font-size: 15px;
		}
			/* Facebook*/
			#menu-top .icon-facebook{
				color: #3b5998;
				font-size: 15px;
			}
			/* Twitter*/
			#menu-top .icon-twitter{
				color: #019ad2;
			}
	/* Banner */
	/* Navigation */
	#navigation{
		/*display: inline-block;*/
		padding: 10px;
		background: #ebedf4;
		border: 1px solid #d7dae1;
	}
	#navigation a{
		display: inline-block;
		padding: 40px 10px 3px 10px;
		height: 14px;
		min-width: 51px;
		border: 1px solid transparent;
		color: #767676;
		font-weight: bold;
		font-size: 11px;
		text-align: center;
	}
	#navigation a:hover{
		background-color: #e2e4eb;
		border-color: #c5c8d1;
	}
		/* Icons */
		/*#navigation a.sample{}*/
/* CONTENT */
	/* minic container */
	.minic-container{
		display: none;
		background: #f8f8f8;
		border: 1px solid #c5c8d1;
		margin-bottom: 50px;
	}
		/* minic top */
		.minic-top{
			position: relative;
			width: 94%;
			padding: 0 3%;
			background: #e5e5e5;
			border-bottom: 1px solid #c5c8d1;
		}
		.minic-top h3{
			display: inline-block;
			width: 100%;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			-ms-box-sizing: border-box;
			box-sizing: border-box;
			margin: 20px 0;
			padding-right: 45px;
			font-size: 22px;
			color: #717171;
			font-weight: normal;
			text-shadow: 1px 1px 1px #ffffff;
		}
		.minic-top .help{
			float: right;
			height: auto;
			font-size: 12px;
			color: #494949;
			text-transform: uppercase;
			text-shadow: 1px 1px 1px #ffffff;
		}
		.minic-top .minic-close{
			display: block;
			text-indent: -99999px;
			position: absolute;
			right: 3%;
			top: 18px;
			width: 34px;
			height: 34px;
			background: url(../img/buttons/close-normal.png) no-repeat;
		}
		.minic-top .minic-close:hover{
			background: url(../img/buttons/close-hover.png) no-repeat;
		}
		/* minic content */
		.minic-content{
			position: relative;
			display: inline-block;
			width: 94%;
			padding: 50px 3%;	
		}
			/* minic content -> input cotnainers */
			.minic-content > div.input-holder{
				float: left;
				clear: both;
				width: 45%;
				margin: 0 5% 10px 0;
			}
			.minic-content > div.input-holder label{
				display: block;
			}
			.minic-content > div.input-holder input[type="text"],
			.minic-content > div.input-holder input[type="file"],
			.minic-content > div.input-holder textarea{
				clear: both;
				width: 94%;
				max-width: 400px;
			}
			/* minic-content -> minic comment */
			.minic-content .minic-comments{
				display: inline-block;
				width: 45%;
				margin-top: -15px;
			}
			.minic-content .minic-comments span{
				color: #000;
				font-weight: bold;
			}
		/* minic bottom */
		.minic-bottom{
			display: inline-block;
			width: 94%;
			padding: 10px 3%;
			background: #e5e5e5;
			border-top: 1px solid #c5c8d1;
		}
		.minic-bottom > *{
			float: right;
			margin-left: 10px;
		}
/*---------- CUSTOM ----------*/
/* Menu */
#new-button{
    background: url(../img/ico-add-new.png) 50% 15% no-repeat;
}
#options-button{
    float: right;
    background: url(../img/ico-options.png) 50% 15% no-repeat;
}
/* Options */
#options .minic-content h3{
	float: left;
	clear: both;
	padding-top: 3px;
	width: 45%;
	margin-top: 30px;
	border-top: 1px solid #cecece;
	color: #575757;
	font-size: 16px;
	font-weight: normal;
}
#options .select{

}
	#options .select div{
		display: inline-block;
		width: 290px;
		margin-left: 10px;
	}
	#options .select div > *{
		width: 100%;
	}
	#options .select div label{
		text-align: center;
		float: left;
		margin-bottom: 5px;
		font-weight: bold;
		color: #000;
	}
	#options .select div select{
		height: 200px;
		margin-bottom: 5px;
	}
	#options .select input:hover{
		cursor: pointer;
	}	
	#options .select .first_select{

	}
	#options .select .second_select{

	}
#options .right{
	display: inline-block;
	width: 45%;
	margin: 0 5% 10px 0;
	text-align: left;
}
	#options .right h3{
		width: 100%;
	}
#options .switch-holder{
	display: inline-block;
	width: 100%;
	margin-bottom: 10px;
}
	#options .switch-holder label{
		float: left;
		min-width: 30%;
		line-height: 26px;
		margin-right: 10px;
	}